---

import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

import TagLabel from './TagLabel.astro'

import type { Print } from '../utils/types'

const { slug, print } = Astro.props as { slug: string, print: Print}

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/prints/*.{webp,jpeg,jpg,png,gif}');

const imagePath = print.image
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/prints/*.{webp,jpeg,jpg,png,gif}"`);

---

<div class="card" >
    <section>
        <h3>{print.name}</h3>
        <p>À partir de {print.price}€</p>
        <a href={`/3DPrinting/prints/${slug}`}>Voir les détails</a>

        <div class="tags" >
            {print.tags.map(tag => {
                return (
                    <TagLabel tag={tag}></TagLabel>
                )
            })}
        </div>
    </section>
    <Image src={images[imagePath]()} alt="The 3d print"></Image>
</div>

<style>
    .card {
        display: flex;
        justify-content: space-between;
        width: 520px;
        margin: 20px 15px 0px;
    }

    section {
        display: flex;
        flex-direction: column;
        color: var(--black);
        width: 200px;
    }

    a {
        padding: 10px 20px;
        background-color: var(--black);
        border: none;
        border-radius: 20px;
        color: var(--white);
        text-decoration: none;
        text-align: center;
    }

    img {
        width: 300px;
        height: 150px;
    }

    .tags {
        margin-top: 10px;
        display: flex;
        a {
            margin-right: 10px;
        }
    }
</style>